.catalog {
  display: grid;
  grid-template-columns: $card-width;
  justify-content: center;
  gap: $card-gap;

  max-width: 944px;
  margin: 0 auto;

  @include onPhone {
    grid-template-columns: repeat(2, $card-width);
  }

  @include onTablet {
    grid-template-columns: repeat(3, $card-width);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
