.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  justify-content: center;
  gap: $card-gap;

  max-width: 944px;
  margin: 0 auto;

  @include responsive ($media-columns, $card-width);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
